## 4회 기출 유형
- https://www.kaggle.com/datasets/agileteam/bigdatacertificationkr
- https://github.com/lovedlim/BigDataCertificationCourses

## 문제 1.
- 주어진 리스트에 대해 아래 과정을 차례로 수행한 최종 결괏값을 출력하시오.
```[2, 3, 3.2, 5, 7.5, 10, 11.8, 12, 23, 25, 31.5, 34]```

- 제 1사분위수와 제 3사분위수를 구하시오.
- 제 1사분위수와 제 3사분위수 차이의 절댓값을 구하시오.
- 그 값의 소수점을 버린 후 정수로 출력하시오.

In [1]:
import numpy as np
lst = [2, 3, 3.2, 5, 7.5, 10, 11.8, 12, 23, 25, 31.5, 34]
Q1 = np.quantile(lst, 0.25)
Q3 = np.quantile(lst, 0.75)

diff = abs(Q1-Q3)
result = int(diff)
print(result)

18

## 문제 2. 
- 주어진 facebook 데이터 세트는 페이스북 라이브에 대한 사용자 반응을 집계한 것이다. 이 중 love 반응(num_loves)과 wow 반응(num_wows)을 매우 긍정적인 반응이라고 정의할 때, 전체 반응 수(num_reaction) 중 매우 긍정적인 반응 수가 차지하는 비율을 계산하시오. 그리고 그 비율이 0.5보다 작고, 0.4보다 크며 유형이 비디오에 해당하는 건수를 정수로 출력하시오.

In [4]:
import pandas as pd 
df = pd.read_csv("data/4회/402_facebook.csv")
df.head(1)

,status_id,status_type,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,246675545449582_1649696485147474,video,529,512,262,432,92,3,1,1,0

In [8]:
#  love 반응(num_loves)과 wow 반응(num_wows)을 매우 긍정적인 반응이라고 정의할 때, 
# 전체 반응 수(num_reaction) 중 매우 긍정적인 반응 수가 차지하는 비율을 계산
df['pos_prop'] = (df['num_loves'] + df['num_wows']) / df['num_reactions']
df.head(1)

,status_id,status_type,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,pos_prop
0,246675545449582_1649696485147474,video,529,512,262,432,92,3,1,1,0,0.179584

In [11]:
# 그리고 그 비율이 0.5보다 작고, 0.4보다 크며 유형이 비디오에 해당하는 건수를 정수로 출력하시오.
result = df.loc[(df['pos_prop'] < 0.5) & (df['pos_prop'] > 0.4) & (df['status_type'] == 'video')]
print(len(result))

90

## 문제 3. 
- 주어진 netflix 데이터 세트는 넷플릭스에 등록된 컨텐츠의 메타 데이터이다. 2018년 1월에 넷플릭스에 등록된 컨텐츠 중에서 'United Kingdom'이 단독 제작한 컨텐츠의 수를 정수로 출력하시오.

### 방법 1. 
- 날짜 데이터를 변환

In [13]:
import pandas as pd 
df = pd.read_csv("data/4회/403_netflix.csv")
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [28]:
df2 = df[df['country'] == "United Kingdom"].reset_index(drop=True)
df2.loc[:, 'date'] = pd.to_datetime(df2['date_added'])
df2.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date
0,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,2021-09-24

In [35]:
df2['year'] = df2['date'].dt.year
df2['month'] = df2['date'].dt.month
result = df2.loc[(df2['year'] == 2018.0) & (df2['month'] == 1.0)].reset_index(drop=True)
print(len(result))

6

### 방법 2
- contains 변환

In [36]:
import pandas as pd 
df = pd.read_csv("data/4회/403_netflix.csv")
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [42]:
df2 = df[(df['date_added'].str.contains('January')) & (df['date_added'].str.contains('2018'))].reset_index(drop=True)
df2.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s5056,Movie,Expedition Happiness,Selima Taibi,"Selima Taibi, Felix Starck",Germany,"January 31, 2018",2017,TV-PG,96 min,"Documentaries, International Movies",A filmmaker and his musician girlfriend attemp...

In [43]:
df2['country'].unique()

array(['Germany', 'United States', 'United Kingdom', 'Spain', 'Singapore',
       'Mexico', 'Argentina', 'Bulgaria, United States', 'South Korea',
       'Colombia', nan, 'United States, New Zealand', 'Japan',
       'Canada, United States', 'Soviet Union, India', 'India',
       'Australia, United Arab Emirates', 'Czech Republic, United States',
       'United Kingdom, United States', 'France',
       'United States, United Kingdom, France',
       'United States, India, Bangladesh', 'Germany, Belgium',
       'Canada, France, Italy, Morocco, United States', 'Nigeria',
       'United States, Canada', 'United States, Italy',
       'China, Hong Kong',
       'United Kingdom, United States, Dominican Republic',
       'India, France',
       'Denmark, Germany, Belgium, United Kingdom, France',
       'Brazil, India, China, United States', 'France, Belgium',
       'New Zealand', 'Ireland, Canada, United States, United Kingdom',
       'Thailand'], dtype=object)

In [45]:
result = df2[df2['country'] == "United Kingdom"].reset_index(drop=True)
len(result)

6