<a href="https://colab.research.google.com/github/j2nhyeok/self-study/blob/main/5%ED%9A%8C_%EA%B8%B0%EC%B6%9C_%EC%9C%A0%ED%98%95(%EC%9E%91%EC%97%85%ED%98%951).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 작업형1 문제

1. 종량제 봉투 종류가 '규격봉투'이고, 종량제 봉투 용도가 '음식물쓰레기'인 2L가격 평균을 출력하시오 (단, 가격0 제외, 반올림 후 정수 출력)

In [7]:
import pandas as pd
df = pd.read_csv("5-1price.csv")

# your code

df.head()
cond1 = df['종량제봉투종류'] == '규격봉투'
cond2 = df['종량제봉투용도'] == '음식물쓰레기'
cond3 = df['2ℓ가격'] != 0
print(round(df[cond1 & cond2 & cond3]['2ℓ가격'].mean()))

118

2. bmi를 계산하고, 수치가 정상인 사람 수와 위험체중인 사람 수의 차이를 절대값으로 구하시오 (정수로 출력)
 - bmi(체질량지수): 몸무게(kg) / 키(m)의 제곱
단위
- Height: cm
- Weight: kg


- 저체중: BMI 18.5미만
- 정상체중: BMI 18.5이상 ~ 23미만
- 과체중 또는 위험체중: BMI 23 이상 ~ 25미만
- 비만체중: 25이상

In [16]:
import pandas as pd
df = pd.read_csv("5-2bmi.csv")
# your code

df['Bmi'] = df['Weight']/((df['Height']/100)**2)
cond1 = 18.5 <= df['Bmi']
cond2 = df['Bmi'] < 23
cond3 = 23 <= df['Bmi']
cond4 = df['Bmi'] < 25

a = len(df[cond1 & cond2])
b = len(df[cond3 & cond4])
print(abs(a-b))

144

3. 순전입학생(순전입 학생 = 전입 학생 - 전출 학생)이 가장 많은 학교의 전체학생수를 정수로 출력하시오

In [22]:
import pandas as pd
df = pd.read_csv("5-3student.csv")

# your code

df['순전입학생수(계)'] = df['전입학생수(계)'] - df['전출학생수(계)']
df = df.sort_values('순전입학생수(계)', ascending=False)
print(int(df.iloc[0, -2]))

230

## 작업형1 풀이

1. 종량제 봉투 종류가 '규격봉투'이고, 종량제 봉투 용도가 '음식물쓰레기'인 2L가격 평균 (단, 가격0 제외, 반올림 후 정수 출력)

In [ ]:
import pandas as pd
df = pd.read_csv("5-1price.csv")
cond1 = df['2ℓ가격'] != 0
cond2 = df['종량제봉투종류'] == "규격봉투"
cond3 = df['종량제봉투용도'] == "음식물쓰레기"
df = df[cond1 & cond2 & cond3]
df
print(round(df['2ℓ가격'].mean()))

118

2. bmi를 계산하고, 수치가 정상인 사람 수와 위험체중인 사람 수의 차이를 절대값으로 구하시오 (정수로 출력)
 - bmi(체질량지수): 몸무게(kg) / 키(m)의 제곱
단위
- Height: cm
- Weight: kg


- 저체중: BMI 18.5미만
- 정상체중: BMI 18.5이상 ~ 23미만
- 과체중 또는 위험체중: BMI 23 이상 ~ 25미만
- 비만체중: 25이상

In [ ]:
import pandas as pd
df = pd.read_csv("5-2bmi.csv")

df['bmi'] = df['Weight'] / (df['Height']/100)**2
cond1 = (df['bmi'] >= 18.5) & (df['bmi'] < 23)
cond2 = (df['bmi'] >= 23) & (df['bmi'] < 25)
print(abs(len(df[cond1]) - len(df[cond2])))

144

3. 순전입학생이 가장 많은 학교의 전체학생수 (순전입 학생 = 전입 학생 - 전출 학생)

In [ ]:
import pandas as pd
df = pd.read_csv("5-3student.csv")
df['순전입'] = df['전입학생수(계)'] - df['전출학생수(계)']
df = df.sort_values('순전입', ascending=False)
print(int(df.iloc[0,-2]))

230

In [ ]:
df

,시도교육청,지역교육청,지역,정보공시 학교코드,학교명,학교급코드,설립구분,제외여부,제외사유,1학년 전입학생수,...,5학년 전입학생수,5학년 전출학생수,5학년 전체학생수,6학년 전입학생수,6학년 전출학생수,6학년 전체 학생수,전입학생수(계),전출학생수(계),전체학생수(계),순전입
1880,세종특별자치시교육청,세종특별자치시교육청,세종특별자치시 세종특별자치시,S080000206,나성초등학교,2,공립,N,NaN,159.0,...,180.0,0.0,41.0,89.0,0.0,31.0,923.0,0.0,230.0,923.0
1382,인천광역시교육청,인천광역시서부교육지원청,인천광역시 서구,S040002035,인천한별초등학교,2,공립,N,NaN,179.0,...,127.0,0.0,0.0,93.0,0.0,0.0,857.0,4.0,0.0,853.0
6190,경상남도교육청,창원교육지원청,경상남도 창원시 마산합포구,S160004071,마산고운초등학교,2,공립,N,NaN,37.0,...,139.0,1.0,110.0,115.0,1.0,97.0,856.0,13.0,894.0,843.0
3214,경기도교육청,경기도성남교육지원청,경기도 성남시 분당구,S090007517,판교대장초등학교,2,공립,N,NaN,150.0,...,97.0,0.0,0.0,72.0,1.0,0.0,688.0,2.0,0.0,686.0
1407,인천광역시교육청,인천광역시동부교육지원청,인천광역시 연수구,S040002304,인천송담초등학교,2,공립,N,NaN,10.0,...,139.0,3.0,134.0,85.0,1.0,70.0,712.0,30.0,835.0,682.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3594,강원도교육청,강원도원주교육지원청,강원도 원주시,S100003975,섬강초등학교,2,공립,N,NaN,16.0,...,18.0,82.0,188.0,9.0,72.0,193.0,100.0,488.0,1242.0,-388.0
5682,경상남도교육청,거제교육지원청,경상남도 거제시,S160000820,아주초등학교,2,공립,N,NaN,5.0,...,6.0,70.0,110.0,1.0,41.0,110.0,32.0,422.0,689.0,-390.0
1994,경기도교육청,경기도광주하남교육지원청,경기도 광주시,S090001284,광주광명초등학교,2,공립,N,NaN,9.0,...,13.0,81.0,196.0,18.0,68.0,181.0,91.0,552.0,1425.0,-461.0
1140,대구광역시교육청,대구광역시서부교육지원청,대구광역시 북구,S030002150,대구국우초등학교,2,공립,Y,본교는 해당항목에 대해서 통계자료가 없으므로 제외함.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6189,경상남도교육청,진주교육지원청,경상남도 진주시,S160004032,은하수초등학교,2,공립,Y,본교는 해당항목에 대해서 통계자료가 없으므로 제외함.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN