<a href="https://colab.research.google.com/github/j2nhyeok/self-study/blob/main/type1_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형1 예시문제
### 자동차 데이터 셋에서 qsec 컬럼을 Min-Max Scale로 변환 후 0.5보다 큰 값을 가지는 레코드(row) 수는?

In [1]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

## 문제분석
- 문제에서 qsec 컬럼만 묻고 있음 (다른 컬럼 신경 쓸 필요 없음)
- MinMax Scale 변환
- 조건 0.5보다 큰 값

## 풀어보기

In [19]:
import pandas as pd
df = pd.read_csv('mtcars.csv')
temp = df[['qsec']]
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()

temp = scale.fit_transform(temp)
(temp>0.5).sum()

9

In [16]:
import pandas as pd
df = pd.read_csv('mtcars.csv')
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()
df['qsec'] = scale.fit_transform(df[['qsec']])
print(df)
cond = df['qsec'] > 0.5
print(len(df[cond]))
# print(len( > 0.5))

                  model   mpg  cyl   disp   hp  drat     wt      qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  0.233333   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  0.300000   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  0.489286   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  0.588095   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  0.300000   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  0.680952   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  0.159524   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  0.654762   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  1.000000   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  0.452381   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  0.523810   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  0.345238   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  0.369048   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  0.416667   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  0.414286   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  0.395238   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  0.347619   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  0.591667   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  0.478571   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  0.642857   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  0.655952   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  0.282143   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  0.333333   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  0.108333   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  0.303571   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  0.523810   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  0.261905   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  0.285714   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  0.000000   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  0.119048   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  0.011905   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  0.488095   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2
9

# 풀이

## 데이터 불러오기

In [ ]:
# 데이터 불러오기
import pandas as pd
# a = pd.read_csv('mtcars.csv') # 샘플

def load_data():
    return pd.read_csv('mtcars.csv')

data = load_data()
data.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

## 스케일링

### 스케일링 방법1

In [ ]:
# MinMaxScaler 활용
from sklearn.preprocessing import MinMaxScaler

data = load_data()
scaler = MinMaxScaler()
print('MinMax Scale 변환 전: \n',data['qsec'].head())
data['qsec'] = scaler.fit_transform(data[['qsec']])
print('MinMax Scale 변환 후: \n',data['qsec'].head())

MinMax Scale 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64
MinMax Scale 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64

### 스케일링 방법2

In [ ]:
# minmax_scale 활용
from sklearn.preprocessing import minmax_scale

data = load_data()
print('MinMax Scale 변환 전: \n',data['qsec'].head())
data['qsec'] = minmax_scale(data['qsec'])
print('MinMax Scale 변환 후: \n',data['qsec'].head())

MinMax Scale 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64
MinMax Scale 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64

### 스케일링 방법3

In [ ]:
# min-max 함수
def my_minmax(data):
    data = (data - min(data)) / (max(data) - min(data))
    return data

print('MinMax Scale 변환 전: \n',data['qsec'].head())
data['qsec'] = my_minmax(data['qsec'])
print('MinMax Scale 변환 후: \n',data['qsec'].head())

MinMax Scale 변환 전:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64
MinMax Scale 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64

## 조건 (0.5보다 큰 값)

### sum 활용

In [ ]:
# True(1)를 더 함
cond = data['qsec'] > 0.5
print(sum(cond))

9

In [ ]:
data['qsec'] > 0.5

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7      True
8      True
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19     True
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
Name: qsec, dtype: bool

### len 활용

In [ ]:
# 데이터 수를 구함
cond = data['qsec'] > 0.5
print(len(data[cond]))

9

### count 활용

In [ ]:
# 데이터 수를 구함
cond = data['qsec'] > 0.5
print(data[cond]['qsec'].count())

9

## 심화학습
- 결측치 값이 처리되지 않았을 때 결과

In [ ]:
# 결측치가 있는 데이터 생성
import numpy as np
df = pd.DataFrame(
    {
        'a':[1,2,3,4,5,6,7,8,9],
        'b':[1.3,2.2,3.3,np.nan,5.8,6.9,np.nan,8.2,9.0]
    }
)
df

   a    b
0  1  1.3
1  2  2.2
2  3  3.3
3  4  NaN
4  5  5.8
5  6  6.9
6  7  NaN
7  8  8.2
8  9  9.0

In [ ]:
# len(데이터프레임)
len(df)

9

In [ ]:
# len(시리즈)
len(df['b'])

9

In [ ]:
# 데이터프레임.count()
df.count()

a    9
b    7
dtype: int64

In [ ]:
# 시리즈.count()
df['b'].count()

7

- len: 행의 수
- count: NaN이 아닌 (컬럼별) 행의 수
- sum: True(1)값을 더했기 때문에 조건문에 따라 달라짐

In [ ]:
df['b'] > 3

0    False
1    False
2     True
3    False
4     True
5     True
6    False
7     True
8     True
Name: b, dtype: bool

In [ ]:
cond = df['b'] > 3
print(sum(cond))

5