## 2회 기출 유형
- https://www.kaggle.com/datasets/agileteam/bigdatacertificationkr
- https://github.com/lovedlim/BigDataCertificationCourses

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 문제 1.
- 다음은 Boston Housing 데이터 세트이다. 범죄율 컬럼인 CRIM 항옥의 상위에서 10번째 값(즉, 범죄율을 큰 순서로 내림차순 정렬했을 때 10번째 위치한 값)으로 상위 10개의 값을 변환한 후, age가 80 이상인 데이터를 추출하여 crim의 평균값을 계산하시오.

In [ ]:
import os
os.getcwd()

'C:\\Users\\j2hoo\\OneDrive\\Documents\\2023\\ds-certification\\작업장_제1유형'

In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/drive/MyDrive/빅분기 실기/빅데이터분석기사_실기_최종본/빅데이터분석기사_실기_최종본/작업장_제1유형/data/2회/201_boston.csv")
df = df.sort_values('CRIM', ascending = False)
temp = df.head(10).CRIM.min()
df.iloc[:10, 0] = temp

cond = df.AGE >= 80
df = df[cond]
df.CRIM.mean()

5.759386625

In [ ]:
# 내림차순으로 정렬
df2 = df.sort_values(by=['CRIM'], ascending=False).reset_index(drop=True)

# 상위 10번째 값 추출
crim_value = df2.iloc[9, 0]
crim_value

# 상위 0-9번째 값을 crim_value로 치환한다.
df2.iloc[0:10, 0] = crim_value
df2.head(12)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,25.9406,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21
1,25.9406,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62
2,25.9406,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98
3,25.9406,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11
4,25.9406,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98
5,25.9406,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38
6,25.9406,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59
7,25.9406,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
8,25.9406,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08
9,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64
10,25.0461,0.0,18.1,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77
11,24.8017,0.0,18.1,0.0,0.693,5.349,96.0,1.7028,24.0,666.0,20.2,396.90,19.77

In [ ]:
# AGE 80 이상인 값만 불러오기
result_df = df2[df2['AGE'] >= 80]
print(result_df['CRIM'].mean())

5.759386625

## 문제 2.
- 다음은 California Housing 데이터 세트이다. 주어진 데이터의 첫 번째 행부터 순서대로 80%까지의 데이터를 훈련 데이터로 추출 후, 전체 방 갯수 컬럼을 의미하는 'total_bedrooms' 변수의 결측치를 'total_bedrooms' 변수의 중앙값으로 대체하 데이터 세트를 구성한다. 결측치 대체 전의 'total_bedrooms' 변수 표준편차 값과 결측치 대체 후의 'total_bedrooms'  변수 표준편차 값의 차이에 대한 절댓값을 계산하시오.

In [14]:
df = pd.read_csv("/content/drive/MyDrive/빅분기 실기/빅데이터분석기사_실기_최종본/빅데이터분석기사_실기_최종본/작업장_제1유형/data/2회/202_housing.csv")
df.head()
train = df.iloc[:int(len(df) * 0.8) , :]

before = train.total_bedrooms.std()
train['total_bedrooms'] = train['total_bedrooms'].fillna(train['total_bedrooms'].median())
after = train.total_bedrooms.std()

print(abs(after - before))

1.9751472916456692

<ipython-input-14-1bf0a66cc502>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['total_bedrooms'] = train['total_bedrooms'].fillna(train['total_bedrooms'].median())

In [ ]:
train = df.iloc[0:int(len(df) * 0.8), :]
before_std = train['total_bedrooms'].std()
before_std

435.90057705252616

In [ ]:
after_std = train['total_bedrooms'].fillna( train['total_bedrooms'].median()).std()
abs(before_std - after_std)

1.9751472916456692

## 문제 3.
- 2번 문항에서 활용한 California Housing 데이터 세트를 그대로 활용한다. 인구 컬럼인 population 항목의 이상값의 합계를 계산하시오.
    + *이상값은 평균에서 1.5x표준편차를 초과하거나 미만인 값의 범위로 정한다.

In [16]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/drive/MyDrive/빅분기 실기/빅데이터분석기사_실기_최종본/빅데이터분석기사_실기_최종본/작업장_제1유형/data/2회/202_housing.csv")

min_val = df.population.mean() - 1.5 * df.population.std()
max_val = df.population.mean() + 1.5 * df.population.std()

cond = (df.population < min_val) | (df.population > max_val)
df = df[cond]
df.population.sum()

5607295.0

In [ ]:
upper_value = df['population'].mean() + 1.5 * df['population'].std()
lower_value = df['population'].mean() - 1.5 * df['population'].std()

upper_value, lower_value

(3124.169926834058, -273.2164384619648)

In [ ]:
print(df[(df['population'] >= upper_value) | (df['population'] <= lower_value)]['population'].sum())

5607295.0