## 강의 영상 : https://youtu.be/Jh3rJaZlEg0

## 문제1
- 데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
- 'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후, 
- 'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

In [2]:
# 라이브러리 및 데이터 불러오기
import pandas as pd

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [11]:
df = df.sort_values('f5', ascending = False).reset_index(drop=True)
temp = df.head(10).f5.min()
df.iloc[:10, 7] = temp
cond = df.age >= 80
df = df[cond]
df.f5.mean()

62.497747125217394

In [ ]:
# f5컬럼을 기준으로 내림차순 정렬
df = df.sort_values('f5', ascending=False)
df.head(10)

In [ ]:
# 최소값 찾기
min = df['f5'][:10].min()
# min = 91.297791
min

In [ ]:
df.iloc[:10,-1] = min
df.head(10)

In [ ]:
# 80세 이상의 f5컬럼 평균
print(df[df['age']>=80]['f5'].mean())

## 문제2
- 데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
- 'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
- 두 표준편차 차이 계산하기

In [15]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')

df = df.iloc[:int(len(df) * 0.7), : ]

before = df.f1.std()
df.f1 = df.f1.fillna(df['f1'].median())
after =df.f1.std()
print(abs( after - before))

3.2965018033960725

In [ ]:
# 데이터 나누기 방법1
data70 = df.iloc[:70]
data30 = df.iloc[70:]

# [심화학습] 데이터 나누기 방법2
# data70, data30 = np.split(df, [int(.7*len(df))])

# [심화학습] 데이터 나누기 방법3 (랜덤으로 샘플링하라고 했을 때!!)
# data70 = df.sample(frac = 0.7)
# data70 = df.drop(data70.index)

data70.tail()

In [ ]:
## 결측치 확인
data70.isnull().sum()

In [ ]:
## 결측치 채우기 전 f1컬럼 표준편자
std1 = data70['f1'].std()
std1

In [ ]:
## 중앙값 확인
med=data70['f1'].median()
med

In [ ]:
## 중앙값으로 채우기
data70['f1'] = data70['f1'].fillna(med)

## 다른 방법들
# data70['f1']= data70['f1'].replace(np.nan, med)
# data70 = data70.fillna(value=med)

In [ ]:
## 결측치 확인
data70.isnull().sum()

In [ ]:
## 결측치를 채운 후 표준편차 구하기
std2 = data70['f1'].std()
std2

In [ ]:
print(std1-std2)

## 문제3
- 데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
- 단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [17]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')


min1 = df['age'].mean() - 1.5 * df['age'].std()
max1 = df['age'].mean() + 1.5 * df['age'].std()

cond = (df['age'] < min1) | (df['age'] > max1)
df = df[cond]
df.age.sum()

473.5

In [ ]:
std = df['age'].std() * 1.5
mean = df['age'].mean()

min_out = mean - std
max_out = mean + std
print(min_out, max_out)

In [ ]:
# 이상치 age합
df[(df['age']>max_out)|(df['age']<min_out)]['age'].sum()

# 다르게 작성방법
# df.loc[(df['age'] > max)]['age'].sum() + df.loc[(df['age']< min)]['age'].sum()