In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 문제
- 주어진 데이터(data/iris.csv)는 붓꽃의 종, 꽃받침 길이와 너비, 꽃잎의 길이와 너비를 기록한 데이터이다. 이를 이용하여 붓꽃의 종(species)에 따라 꽃받침의 너비(sepal_width) 차이 나는지 일원분산분석을 통해 답을 한다.
- 가설검정
    + 귀무가설 : $\overline{X_{1}} = \overline{X_{2}} = \overline{X_{3}}$ 각 그룹의 평균은 모두 같다.
    + 대립가설 : 적어도 한개의 그룹은 평균이 갖지 않다.
- 단, 주어진 데이터가 정규성과 등분산성을 만족한다고 가정한다.
- 문제 1: versicolor 종의 평균 꽃받침 너비를 구하시오. (반올림하여 소숫점 둘째 자리까지 계산)
- 문제 2: 위의 가설을 검정하기 위한 검정통계량을 구하시오. (반올림하여 소숫점 둘째 자리까지 계산)
- 문제 3: 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 넷째 자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.

In [13]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/빅분기 실기/빅데이터분석기사_실기_최종본/빅데이터분석기사_실기_최종본/작업장_제3유형/data/iris.csv")

# 1
cond = df['species'] == 'versicolor'
df2 = df[cond]
print(round(df2['sepal_width'].mean(), 2))

# 2
df = df[['species', 'sepal_width']]
setosa = df[df['species'] == 'setosa'].sepal_width
versicolor = df[df['species'] == 'versicolor'].sepal_width
virginica = df[df['species'] == 'virginica'].sepal_width

from scipy import stats
print(stats.shapiro(setosa))
print(stats.shapiro(versicolor))
print(stats.shapiro(virginica))

print(stats.levene(setosa, versicolor, virginica))

from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

stats.f_oneway(setosa, versicolor, virginica)

2.77
ShapiroResult(statistic=0.971718966960907, pvalue=0.2715126574039459)
ShapiroResult(statistic=0.9741329550743103, pvalue=0.3379843533039093)
ShapiroResult(statistic=0.9673907160758972, pvalue=0.18089871108531952)
LeveneResult(statistic=0.5902115655853319, pvalue=0.5555178984739075)

F_onewayResult(statistic=49.160040089612075, pvalue=4.492017133309115e-17)

## 데이터 불러오기

In [ ]:
import pandas as pd
df = pd.read_csv("./data/iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## 문제 1
- versicolor 종의 평균 꽃받침 너비를 구하시오. (반올림하여 소숫점 둘째 자리까지 계산)

In [ ]:
result = df.loc[df['species'] == 'versicolor', 'sepal_width'].mean()
print(round(result, 2))

2.77

## 문제 2
- 위의 가설을 검정하기 위한 검정통계량을 구하시오. (반올림하여 소숫점 둘째 자리까지 계산)

In [ ]:
from scipy.stats import stats
from math import sqrt

X1 = df.loc[df['species'] == 'setosa', 'sepal_width']
X2 = df.loc[df['species'] == 'versicolor', 'sepal_width']
X3 = df.loc[df['species'] == 'virginica', 'sepal_width']

print(type(X1))

f_score, p_value = stats.f_oneway(X1, X2, X3)
print(round(f_score, 4), round(p_value, 4))

<class 'pandas.core.series.Series'>
49.16 0.0

## 문제 3.
- 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 넷째 자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.

In [ ]:
print(round(p_value, 4))

0.0

In [ ]:
if p_value >= 0.05:
    print("채택")
else:
    print("기각")

기각

## 사후검정

In [ ]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

posthoc = pairwise_tukeyhsd(df['sepal_width'], df['species'])
print(posthoc.summary())

    Multiple Comparison of Means - Tukey HSD, FWER=0.05
============================================================
  group1     group2   meandiff p-adj   lower   upper  reject
------------------------------------------------------------
    setosa versicolor   -0.658    0.0 -0.8189 -0.4971   True
    setosa  virginica   -0.454    0.0 -0.6149 -0.2931   True
versicolor  virginica    0.204 0.0088  0.0431  0.3649   True
------------------------------------------------------------