## 문제
- 주어진 데이터(data/student.csv)는 A 대학생의 학생 300명을 대상으로 각 학생이 속한 단과대학과 이번 학기 수강 과목 수를 조사한 결과이다. 이를 이용하여 단과대학별로 수강 과목 수에 차이가 있는지 카이제곱검정을 통해 답하고자 한다. 가설은 아래와 같다. 
- 가설검정 
    + 귀무가설 : 단과대학과 수강 과목 수는 관련이 없다.  
    + 대립가설 : 단과대학과 수강 과목 수는 관련이 있다. 
- 문제 1: 주어진 데이터로 단과대학과 수강 과목 수로 분할표를 만들었을 때, 수강 과목 수가 '6개 이상'인 학생 수가 가장 많은 단과대학을 출력하시오. 
- 문제 2: 위의 가설을 검정하기 위한 검정통계량을 구하시오. (반올림하여 소숫점 둘째 자리까지 계산)
- 문제 3: 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 넷째 자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.

## 데이터 불러오기

In [2]:
import pandas as pd 
df = pd.read_csv("./data/student.csv")
df.head()

   ID  단과대학 수강 과목 수
0   1  경영대학   4개 이하
1   2  경영대학   4개 이하
2   3  경영대학   4개 이하
3   4  경영대학   4개 이하
4   5  경영대학   4개 이하

## 문제 1
- 주어진 데이터로 단과대학과 수강 과목 수로 분할표를 만들었을 때, 수강 과목 수가 '6개 이상'인 학생 수가 가장 많은 단과대학을 출력하시오.

In [3]:
result_df = pd.crosstab(df['단과대학'], df['수강 과목 수'])
result_df

수강 과목 수  4개 이하  5개  6개 이상
단과대학
경영대학        12  78     30
공과대학        30  42     28
자연대학        30  42      8

In [4]:
result = result_df[result_df['6개 이상'] == result_df['6개 이상'].max()]
result.index[0]

'경영대학'

## 문제 2
- 위의 가설을 검정하기 위한 검정통계량을 구하시오. (반올림하여 소숫점 둘째 자리까지 계산)

In [5]:
X1 = result_df.loc['경영대학', :]
X2 = result_df.loc['자연대학', :]
X3 = result_df.loc['공과대학', :]

In [9]:
from scipy import stats

result = stats.chi2_contingency([X1, X2, X3])
f_score, p_value = result[0], result[1]
print(round(f_score, 4), round(p_value, 4))

30.1275 0.0

## 문제 3. 
- 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 넷째 자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.

In [ ]:
print(round(p_value, 4))

In [ ]:
if p_value >= 0.05:
    print("채택")
else:
    print("기각")